footer{
  background-color: #000;
  position: relative;
}
footer::before{
  content:'';
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
  background-image: url(../img/ft_ro_center.png);
  background-size: contain;
  background-repeat: no-repeat; 
}
footer::after{
  content:'';
  width: 150px;
  height: 150px;
  display: block;
  position: absolute;
  top: -75px;
  left: calc(50% - 75px);
  background-image: url(../img/ft_ro_out.png);
  background-size: contain;
  background-repeat: no-repeat; 
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


footer div.wrap{
  color: #fff;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
footer div.wrap h2{
  grid-column: 1;
  grid-row: 1;
}
footer div.wrap h2 img{
  
}
footer div.wrap p{ 
  font-family: 'Pretendard-ExtraBold';  
  grid-column: 1;
  grid-row: 2;
}
footer div.wrap address{
  grid-column: 1;
  grid-row: 3;
  line-height: 1.4;
}
footer div.wrap ul{
  grid-column: 1;
  grid-row: 4;
  line-height: 1.4;
  margin-top: 30px;
  text-decoration: underline;
  width: fit-content;
}
footer div.wrap ul li:first-child{
  position: relative;
  width: fit-content;
}
footer div.wrap ul li:first-child::after{
  content:'';
  width: 8px;
  height: 8px;
  display: block;
  background-color: #ea1836;
  border-radius: 50%;
  position: absolute;
  right: -10px;
  top: 0;
}
footer div.wrap span{
  grid-column: 3;
  grid-row: 1;
  line-height: 1.4;
  justify-self: right;
}
footer div.wrap div.button{
  grid-column: 3;
  grid-row: 4;
  justify-self: right;
  align-self: end;
}
footer div.wrap div.button button{
  height: fit-content;
  padding: 0px 25px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.5s;
  height: 45px;
}
footer div.wrap div.button button:hover{
  border-radius: 30px 30px 0 30px;
}
footer div.wrap div.button button:first-child{
  background-color: #ea1836;
  display: flex;
  align-items: center;
  transition: 0.5s;
}
footer div.wrap div.button button:first-child::after{
  content:'';
  transition: 0.5s;
}
footer div.wrap div.button button:first-child:hover::after{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../img/arrow-w.svg);
  background-size: contain;
}
footer div.wrap div.button button:last-child{
  background-color: #fff; 
  color: #222;
  margin-left: 10px;
  display: flex;
  align-items: center;
}
footer div.wrap div.button button:last-child::after{
  content:'';
  transition: 0.5s;
}
footer div.wrap div.button button:last-child:hover::after{
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 10px;
  background-image: url(../img/arrow-right-up-b.svg);
  background-size: contain;
}

body{
  position: relative;
}
/* aside */
div.aside{
  font-size: 0;
  position: fixed;
  right: 50px;
  z-index: 5;
  bottom: 15%;
}
div.aside ul{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: end;
}
div.aside ul li{

}
div.aside ul li a{
  width: 60px;
  height: 60px;
  border-radius: 23px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
div.aside ul li:hover a{
 border-radius: 23px 23px 0 23px;
}
div.aside ul li:not(:nth-child(1)) a{
  width: 60px;
}
div.aside ul li:nth-child(1) a{
  background-color: #f9e000;
}
div.aside ul li:nth-child(2) a{
  background-color: #fff;
}
div.aside ul li:nth-child(3) a{
  background-color: #222222;
}
div.aside ul li:nth-child(4) a{
  background-color: #fff;
}
div.aside ul li a span{
  display: block;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
}
div.aside ul li:nth-child(1) a span{
  background-image: url(../img/ico1.png);
}
div.aside ul li:nth-child(2) a span{
  background-image: url(../img/ico2.png);
}
div.aside ul li:nth-child(3) a span{
  background-image: url(../img/ico3.png);
}
div.aside ul li:nth-child(4) a span{
  background-image: url(../img/top.svg);
}
div.aside ul li:nth-child(1) a{
  transition: 0.6s;
}
div.aside ul li:nth-child(1):hover a{
  gap: 10px;
  width: 160px;
}

div.aside ul li:nth-child(1):hover a span{
  margin-right: 10px;
}
div.aside ul li:nth-child(1) a div.kakao{
  opacity: 0;
  transition: 0.1s;
}
div.aside ul li:nth-child(1):hover a div.kakao{
  font-size: 12px;
  color: #888;
  line-height: 1.4;
  opacity: 1;
}
div.aside ul li:nth-child(1):hover a div.kakao strong{
  font-size: 14px;
  color: #111;
}

div.left{
  width: 50px;
  height: 95px;
  background-image: url(../img/gdweb-winner.png);
  background-size: contain;
  position: fixed;
  bottom: 15%;
  left: 0;
  z-index: 10;
  cursor: pointer;
}



