
header{
  height: 100px;
  position: absolute;
  width: 100%;
  z-index: 1;
}
header .wrap{
  max-width: initial;
  padding: 0 3%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
header .wrap h1{

}
header .wrap h1 a{
  width: 43px;
  height: 40px;
}
header .wrap h1 a img{
  width: 100%;
}
header .wrap ul{

}
header .wrap ul li{

}
header .wrap >ul > li:not(:last-child) >a{
  padding: 0 35px;
  line-height: 2.5;
  position: relative;
  color: #fff;
}
header .wrap >ul > li:not(:last-child)> a::after{
  content:'';
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  transition: 0.2s ease-in-out;
  top: 5px;

}
header .wrap >ul > li:not(:last-child) > a:hover::after{
  background-color: #ea1836;
  top: 3px;
}
header .wrap ul li:last-child{
  
}
header .wrap >ul>li:last-child>a{
  width: 130px;
  background-color: #ea1836;
  border-radius: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
}
header .wrap >ul> li:last-child> a:hover{
    border-radius: 20px 20px 0 20px;
}
header .wrap >ul>li:last-child> a::after{
  content:'';
  display: inline-block;
  transition: 0.5s;
}
header .wrap >ul>li:last-child> a:hover::after{
  width: 20px;
  height: 20px;
  background-image: url(../img/arrow-w.svg);
  background-size: contain;
  margin-left: 5px;
}

header .wrap >ul>li ul.sub{
  background-color: #fff;
  padding: 20px 30px;
  position: absolute;
  border-radius: 20px;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .wrap >ul>li ul.sub a{
  font-size: 15px;
  color: #666;
}
header .wrap >ul>li ul.sub li:hover a{
  color: #ea1836;
  position: relative;
  
}
header .wrap >ul>li ul.sub li a{
   position: relative;
}
header .wrap >ul>li ul.sub li a::after{
 content:'';
  display: block;
  position: absolute;
  width: 0%;
  transition: all 0.5s;
  height: 1px;
  background-color: #ea1836;
  
}
header .wrap >ul>li ul.sub li:hover a::after{
   width: 100%;
}

/* title */
#title{
  height: 100vh;
  min-height: 800px;
  position: relative;
}
#title .wrap{
  height: 100%;
  gap: 30px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
#title .wrap::after{
  content:'';
  display: block;
  width: 453px;
  height: 476px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/img_mvisual1.png);
  background-size: contain;
  background-position: center;
}
#title .wrap .title-t{
  
}
#title .wrap h2{
  color: #fff;
  line-height: 1.4;
  position: relative;
}
#title .wrap h2::before{
  content:'';
  display: block;
  width: 14px;
  height: 14px;
  background-color: #ea1836;
  border-radius: 50% 50% 0 50%;
  position: absolute;
  left: -14px;
}
#title .wrap p{
  color: #fff;
}
  #title .wrap p br{
    display: none;
  }
#title .wrap .video-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  
}
#title .wrap .video-container video{
  height: 100%;
  object-fit: cover;
  min-height: 800px;
  width: 100%;
}
