@media screen and (max-width:768px){
  
  .wrap{
    padding: 0 20px;
  }
/*  header  */
  header .wrap > ul{
    display: none;
  }
  header .wrap button{
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../img/ham-w.svg);
    font-size: 0;
    background-size: contain;
    
    cursor: pointer;
  }
/*  title  */
  #title .wrap{
    
  }
  #title .wrap h2{
    font-size: calc(85px * 0.5);
  }
  #title .wrap p{  
    margin-top: 30px;
    line-height: 1.6;
    font-size: calc(21px * 0.8);
  }
  #title .wrap p br{
    display: block;
  }
/*  service  */
  #service{
    border-radius: 0;
    padding: 50px 20px;
  }
  #service .wrap{
    display: initial;
  }
  #service div.wrap div.sertext h2{
    font-size: calc(85px * 0.6);
  }
  #service div.wrap div.sertext p{
   font-size: calc(21px * 0.8);
  }
  #service div.wrap div.w-slider{
    width: 100%;
  }
  #service div.wrap div.w-slider div.slider{
    display: initial;
  }
  #service div.wrap div.w-slider div.slider div.img-box{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #service div.wrap div.w-slider div.slider span.img{
    width: 300px;
    display: flex;
    justify-content: center;
  }
  #service div.wrap div.w-slider div.slider span.img::after{   
    width: 150px;
    height: 150px;
  }
  #service div.wrap div.w-slider div.s2 span.img::after{
    width: 250px;
    height: 250px; 
    top: calc(50% - 125px);
    left: calc(50% - 125px);
  }
    #service div.wrap div.w-slider div.s3 span.img::after{
    width: 350px;
    height: 250px; 
    top: calc(50% - 125px);
    left: calc(50% - 175px);
  }
  #service div.wrap div.w-slider div.slider h3{
     font-size: calc(58px * 0.8);
  }
  #service div.wrap div.w-slider div.slider p{
    font-size: calc(21px * 0.8);
  }
  #service .wbutton{
    bottom: -75px;
    left: calc(50% - 100px);
  }
  #service span.number{   
    left: calc(50% - 15.3px);
    bottom: -60px;
  }
  
/*  clients  */
  #clients div.wrap{
    padding: 50px 20px;
  }
  #clients div.wrap .cli-text{
    display: initial;
  }
  #clients .cli-text h2{
    font-size: calc(85px * 0.6);
  }
  #clients .cli-text p{
    font-size: calc(21px * 0.8);
    margin-top: 30px;
  }
  #clients .cli-text br{
    display: none;
  }
/*  portfolio  */
  #portfolio div.wrap{
    padding: 50px 20px;
  }
  #portfolio div.wrap .port-text{
    display: initial;
  }
  #portfolio div.wrap .port-text h2{
     font-size: calc(85px * 0.6);
  }
  #portfolio div.wrap .logo{

  }
  #portfolio div.wrap .logo li{
    width: 100%;
  }
  #portfolio div.wrap .logo li a{
   height: 300px;
  }
/*  comment  */
  #comment{
    border-radius: 0;
  }
  #comment div.wrap{
    padding: 50px 20px;
    flex-direction: column;
    align-items: initial;
    gap: 50px;
  }
  #comment div.wrap ul{
    width: 100%;
    order: 2;
  }
  #comment div.wrap ul li{
    padding: 10px;
  }
  
  #comment div.wrap ul li p{
    gap: 10px;
    font-size: 12px;
  }
  #comment div.wrap ul li p::before{
    width: 100px;
    height: 80px;
  }
  #comment div.wrap .comen-text{
    order: 1;
  }
  #comment div.wrap .comen-text h2{
     font-size: calc(85px * 0.4);
  }
  #comment div.wrap .comen-text h2::before{
    
  width: 40px;
  margin-bottom: 10px;
  }
  #comment div.wrap .comen-text p{
    font-size: calc(21px * 0.7);    
  }
  #comment div.wrap .comen-text p br{
    display: none;
  }
  #comment div.wrap .comen-text span{
    top: 76px;
    right: 99px;
    font-size: 16px;
    padding: 8px;
  }
  #comment div.wrap .comen-text span::before{
  width: 13px;
  height: 13px;
  }
/*  youtube  */
  #youtube{   
    border-radius: 0;
  }
  #youtube div.wrap{
    padding: 50px 20px;
  }
  #youtube div.wrap h2{
   font-size: calc(85px * 0.6);
   margin-bottom: 50px;
  }
  #youtube div.wrap ul{
    flex-direction: column;
  }
  #youtube div.wrap ul li{
    width: 100%;
  }
  #youtube div.wrap ul li a{
    
  }
  #youtube div.wrap ul li .go{
    height: 230px;
  }
  #youtube div.wrap ul li p{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: calc(25px * 0.7);
  }
/*  footer  */
  footer::before{ 
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: -20px;
  }
  footer::after{ 
    width: 100px;
    height: 100px;
    top: -50px;
    left: calc(50% - 50px);
  }
  footer div.wrap{
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
  }
  footer div.wrap h2 img{
    width: 250px;
  }
  footer div.wrap p{
    font-size: calc(36px * 0.6);
    margin-bottom: 20px;
  }
  footer div.wrap address{
    font-size: calc(25px * 0.6);
  }
  footer div.wrap ul li{
    font-size: calc(25px * 0.6);
  }
  footer div.wrap span{
    font-size: calc(25px * 0.6);
    margin-top: 20px;
  }
  footer div.wrap div.button button{
    font-size: 12px;
    padding: 0px 15px;
  }
    footer div.wrap div.button button:first-child:hover::after{
    width: 15px;
    height: 15px;
  }
  footer div.wrap div.button button:last-child:hover::after{
    width: 15px;
    height: 15px;
  }
/*  aside  */
  div.aside{
    right: 35%;
  }
  div.aside ul li a{
    width: 45px;
    height: 45px;
  }
  div.aside ul li a span{
    width: 30px;
    height: 30px;
  }
  div.aside ul li:not(:nth-child(1)) a{
    width: 45px;
  }
  
  
  
  
}


















